<div class="container">
    <h2 id="mainHeader">Get Instagram Account Info</h2>
    <form #accountform="ngForm" (ngSubmit)="getAccount()">
      <div class="form-group">
        <label for="account">Account:</label>
        <input type="text" [(ngModel)]= accountId class="form-control" id="accountId" placeholder="Enter account" name="accountId">
      </div>
      <button type="submit" class="btn btn-info">Get Account</button>
    </form>

  <h2 id="accountInfo">Account Info</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Last Retrieved</th>
        <th>Biography</th>
        <th>Name</th>
        <th>Follower Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{account.dateTime}}</td>
        <td>{{account.biography}}</td>
        <td>{{account.fullName}}</td>
        <td>{{account.followers}}</td>
      </tr>
    </tbody>
  </table>

  <h2 id="recentPost">Recent Post</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Media URL</th>
        <th>Likes</th>
        <th>Comments</th>
        <th>Post Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{post.mediaURL}}</td>
        <td>{{post.numLikes}}</td>
        <td>{{post.numComments}}</td>
        <td>{{post.postType}}</td>
      </tr>
    </tbody>
  </table>


  </div>